<h2><i class="icon-question-sign"></i>HELP</h2>

<div class="row">

<%= render :partial => 'sidebar' %>

<div id="help_main" class="span8">
<h3 id="over_view">概要</h3>
<div class="help_content">
<p>
「イカ様でーた」はダミーデータ生成ツールです。<br />
「姓」「名」「住所」「電話番号」といった「アイテム」を組み合わせて、擬似的なデータを生成できます。<br />
システム開発の現場などで利用するためのテストデータを手軽に生成することができます。
</p>
<p>
例えば「姓」と「名」のアイテムを選択すると、以下のようなデータを生成します。<br />
（データは基本的にランダムに生成されます）
</p>
<table class="help_example">
<tr>
<th>姓</th><th>名</th>
</tr>
<tr><td>伊藤</td><td>太郎</td></tr>
<tr><td>佐藤</td><td>次郎</td></tr>
<tr><td>山田</td><td>三郎</td></tr>
</table>
<p>
「数値」「住所」といったアイテムの他に、「連結」「ユーザ定義リスト」といった特殊なアイテムを利用することで、多様な疑似データを生成することができます。
</p>
</div><!-- help_content -->

</div><!-- row -->
