<h2><i class="icon-question-sign"></i>HELP（アイテム）</h2>

<div class="row">

<%= render :partial => 'sidebar' %>

<div id="help_main" class="span8">

<h3 id="depend_on">アイテムの従属機能</h3>
<div class="help_content">
<p>
アイテムの「従属」機能は「イカ様でーた」の重要な機能です。
</p>
<p>
例えば「姓」アイテムはデータの表示方法として、漢字と振り仮名を選択することができます。<br />
しかし以下のように「姓」アイテムを二つ利用して、一つを漢字、もう一つを振り仮名に設定した場合、デフォルトの設定では漢字と振り仮名が連動しません。
</p>
<table class="help_example">
<tr>
<th>姓</th><th>姓（ふりがな）</th>
</tr>
<tr><td>伊藤</td><td>やまだ</td></tr>
<tr><td>佐藤</td><td>たかはし</td></tr>
<tr><td>山田</td><td>みなみ</td></tr>
</table>
<p>
これは二つの「姓」アイテムがそれぞれ独立してランダムにデータを表示しているためです。
</p>
<p>
これを解決するために、片方のアイテムをもう片方のアイテムに「従属」させることができます。
</p>
<p>
姓 ←（従属）← 姓（ふりがな）
</p>
<p>
すると、「姓（ふりがな）」アイテムのデータは「姓」アイテムのデータに連動するようになります。
</p>
<table class="help_example">
<tr>
<th>姓</th><th>姓（ふりがな）</th>
</tr>
<tr><td>伊藤</td><td>いとう</td></tr>
<tr><td>佐藤</td><td>さとう</td></tr>
<tr><td>山田</td><td>やまだ</td></tr>
</table>
<p>
どのアイテムがどのアイテムに従属できるかは異なるため、各アイテムの説明を確認してください。
</p>
</div><!-- help_content -->

<h3 id="all_config">各アイテムの設定</h3>
<div class="help_content">

<h4 id="common">共通設定</h4>
<div class="help_content">
<p>各アイテムに共通する設定は以下の通りです。</p>
<table class="help_desc">
<tr>
<th>項目名</th>
<td>
アイテムの名前を設定します。テーブル形式やCSV形式で出力する際には、ヘッダーとして使用されます。
</td>
</tr>
<tr>
<th>カラム名</th>
<td>
アイテムの名前を設定する点では「項目名」と同様ですが、ここで設定した名前は、SQL形式で出力する際にカラム名として使用されます。
</td>
</tr>
<tr>
<th>プレフィックス</th>
<td>
生成されたデータの前に付加される固定の文字列です。
</td>
</tr>
<tr>
<th>サフィックス</th>
<td>
生成されたデータの後に付加される固定の文字列です。
</td>
</tr>
<tr>
<th>空データ率</th>
<td>
生成されるデータの中に空のデータを挿入させる率を指定します。ここで指定された値は確率として利用されるため、指定された割合で空データが必ず挿入されるというわけではありません。
</td>
</tr>
<tr>
<th>従属する</th>
<td>
従属先となるアイテムを選択します。<br />
「連結」アイテム以外のすべてのアイテムは何らかのアイテムに従属することができます。
</td>
</tr>
</table>

<p>生成されたデータが各種の形式（CSV、SQL等）で出力される際に適応される設定は以下の通りです。</p>
<table class="help_desc">
<caption>共通オプション</caption>
<tr>
<th>結果に表示する</th>
<td>
データ出力時に、該当するアイテムを表示するかしないかを選択します。チェックをオフにした場合、そのアイテムによって生成されたデータは結果に含まれません。<br />
例えば、「連結」アイテムによって連結する元になったデータを結果に含めたく無い場合などに使用します。
</td>
</tr>
</table>
<table class="help_desc">
<caption>CSVオプション</caption>
<tr>
<th>値を"で囲む</th>
<td>
データ出力時に値を「"」（ダブルクォーテーション）で囲むかどうかを指定します。<br />
チェックをオフにすると、そのアイテムはCSVで出力される際に「"」で挟まれなくなります。
</td>
</tr>
</table>
<table class="help_desc">
<caption>SQLオプション</caption>
<tr>
<th>値を'で囲む</th>
<td>
データ出力時に値を「'」（シングルクォーテーション）で囲むかどうかを指定します。<br />
チェックをオフにすると、そのアイテムはSQLで出力される際に「'」で挟まれなくなります。
</td>
</tr>
</table>
</div><!-- help_content -->

<h4 id="number">数値</h4>
<div class="help_content">
<p>
数値データを生成するアイテムです。<br />
生成方法として「シーケンシャル」と「ランダム」を選ぶことができます。
</p>

<table class="help_desc">
<caption>数値アイテムの生成方法</caption>
<tr>
<th>シーケンシャル</th>
<td>
1,2,3...のように順番に数が増加するようなデータを生成します。IDの生成などに利用できます。
</td>
</tr>
<tr>
<th>ランダム</th>
<td>
指定された範囲でランダムな数値を生成します。
</td>
</tr>
</table>

<p>
生成方法ごとの設定は以下の通りです。
</p>

<table class="help_desc">
<caption>シーケンシャル</caption>
<tr>
<th>初期値</th>
<td>
シーケンスの開始する値を設定します。
</td>
</tr>
<tr>
<th>最大値</th>
<td>
シーケンスの最大値を設定します。「0」以外を設定した場合は、シーケンスがその値に達すると、初期値に戻ります。「0」を設定した場合は最大値が設定されていないもとされます。
</td>
</tr>
<tr>
<th>ステップ</th>
<td>
数値が増加する幅を指定します。初期値を「1」、ステップを「5」とすると、生成されるデータは1,6,11...となります。
</td>
</tr>
</table>

<table class="help_desc">
<caption>ランダム</caption>
<tr>
<th>最小値</th>
<td rowspan="2">
ランダムに数値を生成するための幅を指定します。最小値から最大値の間で数値が生成されます。
</td>
</tr>
<tr>
<th>最大値</th>
</tr>
</table>

<table class="help_desc">
<caption>共通の設定</caption>
<tr>
<th>ゼロフィル</th>
<td>
数値の前方を指定された桁までゼロで埋めます。「3」を指定した場合、生成されるデータは001,002,003...となります。</br>
数値が指定された桁を超えた場合は、そのまま表示されます。
</td>
</tr>
</table>

</div><!-- h4 help_content -->

<h4 id="name">姓、名、氏名</h4>
<div class="help_content">
<p>人名を生成するアイテムです。</p>
<p>それぞれのアイテムは、表示方法として「漢字」か「よみがな」を選択できます。</p>

<table class="help_desc">
<caption>共通の設定</caption>
<tr>
<th>文字間</th>
<td>
生成されるデータに含まれる文字列のフォーマットを指定できます。<br />
チェックされたフォーマットがランダムで選択されます。
</td>
</tr>
<tr>
<th>漢字／よみがな</th>
<td>
データの表示形式を選択できます。「よみがな」を選択した場合は、さらに複数のフォーマットを選択できます。<br />
チェックされたフォーマットがランダムで選択されます。
</td>
</tr>
</table>

<table class="help_desc">
<caption>「氏名」アイテム固有の設定</caption>
<tr>
<th>姓と名の区切り</th>
<td>
姓と名の間に挿入する文字列を指定します。<br />
「よみがな」を「ローマ字＞すべて小文字」に設定して、区切り文字に「.」を指定すると、「yamada.takesi」のようにユーザID風のデータを生成することもできます。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="sex">性別</h4>
<div class="help_content">
<p>男女の性別データを生成することができます。</p>
<p>
通常はランダムにデータを生成しますが、以下のように「名」「氏名」アイテムに従属することで、名前に応じた性別データを生成することができます。
</p>
<p>名 ←（従属）← 性別</p>
<table class="help_example">
<tr>
<th>名</th><th>性別</th>
</tr>
<tr><td>太郎</td><td>1</td></tr>
<tr><td>花子</td><td>2</td></tr>
<tr><td>次郎</td><td>1</td></tr>
</table>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>男／女の場合に表示する文字列</th>
<td>
生成されたデータに応じて表示する文字列を指定します。<br />
デフォルトの状態では、男の場合は「1」、女の場合は「2」というデータが生成されます。「その他」は、ランダムに生成したとき（他のアイテムに従属していない時）に男でも女でも無いデータ（例えば「選択無し」）として生成されます。<br />
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="age">年齢</h4>
<div class="help_content">
<p>年齢データを生成することができます。</p>
<p>「年齢」アイテムは、他のアイテムに従属していない場合、指定された範囲内でランダムに数値を生成するだけです。</p>
<p>以下のように「日付」アイテムに従属した場合は、従属先の日付データと、指定された「基準日」とを元に年齢を算出します。</p>
<p>日付 ←（従属）← 年齢</p>
<p class="comment">※基準日を2011年12月1日とした場合。</p>
<table class="help_example">
<tr>
<th>日付</th><th>年齢</th>
</tr>
<tr><td>1993-08-10</td><td>18</td></tr>
<tr><td>2001-04-05</td><td>10</td></tr>
<tr><td>2003-08-27</td><td>8</td></tr>
</table>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>年齢計算基準日</th>
<td>
日付時刻アイテムに従属している場合のみ有効な設定です。<br />
従属先の日付時刻アイテムで生成された日付から、ここで設定された日付までの期間を年齢として算出します。
</td>
</tr>
<tr>
<th>範囲</th>
<td>
年齢をランダムに算出する範囲を指定します。<br />
この設定は他のアイテムに従属していない場合のみ有効です。
</td>
</tr>
</table>

</div><!-- h4 help_content -->

<h4 id="prefecture">都道府県</h4>
<div class="help_content">
<p>都道府県名を生成することができます。</p>
<p>
都道府県アイテムは「住所」「郵便番号」アイテムに従属することができます。<br />
その場合は、従属先のアイテムで生成された住所や郵便番号に対応した都道府県が生成されます。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>漢字／よみがな</th>
<td>
データの表示形式を選択できます。「よみがな」を選択した場合は、さらに複数のフォーマットを選択できます。<br />
チェックされたフォーマットがランダムで選択されます。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="zip_code">郵便番号</h4>
<div class="help_content">
<p>郵便番号を生成することができます。</p>
<p>
郵便番号は実在の郵便番号からランダムに取得されます。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>フォーマット</th>
<td>
郵便番号の表示形式を「区切り無し」「区切り有り」から選択します。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="address">住所</h4>
<div class="help_content">
<p>住所を生成することができます。</p>
<p>
住所は日本郵便の郵便番号データからランダムに取得されます。<br />
ただし丁目－番地－号はランダムに数値を生成しています。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>漢字／よみがな</th>
<td>
データの表示形式を選択できます。「よみがな」を選択した場合は、さらに複数のフォーマットを選択できます。<br />
チェックされたフォーマットがランダムで選択されます。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="telephone">電話番号</h4>
<div class="help_content">
<p>電話番号を生成することができます。</p>
<p>
電話番号は「データに含める電話番号の種類」の設定で選択された種別を元に、ランダムで数値を生成しています。<br />
そのため、市外局番なども存在しない番号になる場合があります。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>データに含める電話番号の種類</th>
<td>
生成するデータに含める電話番号の種別を選択できます。<br />
「固定電話」を選択した場合は、市外局番が2桁、3桁、4桁、5桁のものがランダムに生成されます。
</td>
</tr>
<tr>
<th>区切りの有無</th>
<td>
生成される電話番号について、区切り文字として"-"（ハイフン）を挿入する書式としない書式を選択できます。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="datetime">日付時刻</h4>
<div class="help_content">
<p>日付と時刻を生成することができます。</p>
<p>
指定した範囲を元に日付と時刻をランダムに生成することができます。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>日付</th>
<td>
チェックボックスがオンになっている場合、データに日付を含めます。<br />
日付は最小値と最大値に指定した範囲でランダムに生成されます。
</td>
</tr>
<tr>
<th>時刻</th>
<td>
チェックボックスがオンになっている場合、データに時刻を含めます。<br />
時刻は「時間」「分」「秒」で個別に範囲を指定することができます。
</td>
</tr>
<tr>
<th>日付と時刻のセパレータ</th>
<td>
日付と時刻の間に挿入する文字列を指定できます。日付と時刻のどちらかしか表示しない場合は無視されます。<br />
W3Cの日時フォーマットで生成したい場合は、セパレータに「T」を指定し、サフィックスに「+09:00」のように指定すれば可能です。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="user_list">ユーザ定義リスト</h4>
<div class="help_content">
<p>ユーザが任意のリストを作成できます。</p>
<p>
リストは「値」と「ラベル」のペアで設定します。その中からランダムに選択してデータを生成します。
</p>
<p>
また、ユーザ定義リストは「連結」アイテムを除くすべてのアイテムに従属することができます。<br />
他のアイテムに従属した場合は、従属先のアイテムで生成されたデータとユーザが定義した「値」を比較し、マッチした場合にそのデータを表示します。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>表示する項目</th>
<td>
データを生成する際に表示する内容を「値」と「ラベル」から選択することができます。
</td>
</tr>
<tr>
<th>リスト</th>
<td>
「値,ラベル」のように、カンマ区切りでリストの要素を設定することができます。<br />
一件ごとに改行する必要があります。<br />
内容に「,」（カンマ）が含まれる場合は、データを「"」（ダブルクォーテーション）で囲ってください。<br />
上記の場合にさらに内容に「"」（ダブルクォーテーション）が含まれる場合は、「""」のように二重にしてください。
</td>
</tr>
</table>
</div><!-- h4 help_content -->

<h4 id="concat">連結</h4>
<div class="help_content">
<p>他の二つのアイテムの生成結果を連結させることができます。</p>
<p>
例えば、「郵便番号」アイテムと「住所」アイテムを連結させ、郵便番号と住所を一つのカラムにすることができます。
</p>
<p>
なお、「連結」アイテムは他のアイテムに従属することも、他のアイテムから従属されることもできません。
</p>

<table class="help_desc">
<caption>設定</caption>
<tr>
<th>アイテム１<br />アイテム２</th>
<td>
連結するアイテムを指定することができます。
</td>
</tr>
<tr>
<th>区切り文字</th>
<td>
連結するデータの間に挿入する文字を指定することができます。
</td>
</tr>
</table>
</div><!-- h4 help_content -->
</div><!-- h3 help_content -->

</div><!-- help_main -->
</div><!-- row -->
