<h2><i class="icon-question-sign"></i>HELP（出力オプション）</h2>

<div class="row">

<%= render :partial => 'sidebar' %>

<div id="help_main" class="span8">

<h3 id="common">共通設定</h3>
<div class="help_content">

<h4>出力形式</h4>
<div class="help_content">
<p>出力する形式を以下の中から選択できます。</p>

<table class="help_desc">
<tr>
<th>テーブル</th>
<td>
HTMLのTABLEタグの形式で出力します。
</td>
</tr>
<tr>
<th>CSV</th>
<td>
CSV形式で出力します。
</td>
</tr>
<tr>
<th>SQL</th>
<td>
SQLのINSERT文の形式で出力します。
</td>
</tr>
</table>

</div><!-- help_content -->

<h4>行数</h4>
<div class="help_content">
<p>ここで指定された行数のデータを生成します。</p>
<p>最大50,000件のデータを生成できます。（<span class="comment">将来的に件数を制限する可能性もあります。</span>）</p>
<p>なお、「テスト」を実行した時にはここで指定された行数に関係無く、10件だけテスト結果を出力します。</p>
</div><!-- help_content -->

</div><!-- help_content -->

<h3 id="by_format">出力形式別の設定</h3>
<div class="help_content">

<h4 id="table">テーブル</h4>
<div class="help_content">

<p>テーブル形式で出力する際に有効となるオプションです。</p>

<table class="help_desc">
<tr>
<th>ヘッダー</th>
<td>
項目名およびカラム名をヘッダーとして出力結果に含めるかどうかを指定できます。どちらもthタグで出力されます。
</td>
</tr>
</table>

</div>

<h4 id="csv">CSV</h4>
<div class="help_content">

<p>CSV形式で出力する際に有効となるオプションです。</p>

<table class="help_desc">
<tr>
<th>ヘッダー</th>
<td>
項目名およびカラム名をヘッダーとして出力結果に含めるかどうかを指定できます。
</td>
</tr>
</table>
</div>

<h4 id="sql">SQL</h4>
<div class="help_content">

<p>SQL形式で出力する際に有効となるオプションです。</p>

<table class="help_desc">
<tr>
<th>テーブル名</th>
<td>
INSERT文中のテーブル名を指定することができます。
</td>
</tr>
<tr>
<th>テーブル名／列名の形式</th>
<td>
<p>テーブル名および列名を「"」（二重引用符）、「`」(バッククォート)などで囲むかどうかを指定できます。</p>
<p>一般的なSQLは「"」で囲むことでRDBMSの予約語に関係なく名前として扱われます。MySQLでは独自拡張として「"」の代わりに「`」が使われます。</p>
</td>
</tr>
</table>

</div>

<h3 id="test_download">テスト／ダウンロード</h3>
<div class="help_content">
<p>「テスト」ボタンと「ダウンロード」ボタンの違いは以下の通りです。</p>

<table class="help_desc">
<tr>
<th>テスト</th>
<td>
<p>疑似データを10件のみ出力します。出力結果はページ内のサブウィンドウに表示されます。</p>
<p>出力結果を確認するときにはこちらを利用してください。</p>
</td>
</tr>
<tr>
<th>ダウンロード</th>
<td>
<p>「行数」で指定した数だけ疑似データを生成し、ダウンロードします。「行数」の値が大きい場合は時間がかかる可能性があります。</p>
<p>文字コードはUTF-8です。</p>
</td>
</tr>
</table>

</div><!-- help_content -->

</div><!-- help_main -->

</div><!-- row -->
