<h2><i class="icon-question-sign"></i>HELP（設定の保存・読込）</h2>

<div class="row">

<%= render :partial => 'sidebar' %>

<div id="help_main" class="span8">

<h3 id="download">設定の保存</h3>
<div class="help_content">
<p>「イカ様でーた」では、疑似データの生成パターンの設定を設定ファイルとして保存することができます。</p>
<p>「設定を保存」ボタンを押すと、設定ファイルを保存するためのダイアログが表示されます。</p>
<p>保存ファイル名（デフォルトでは「ikasama_config.yml」）を指定し、「ダウンロード」ボタンを押すと設定ファイルがダウンロードされます。</p>
<p class="comment">※保存ファイル名の拡張子に関係無く、設定ファイルはyaml形式です。</p>
</div><!-- help_content -->

<h3 id="upload">設定の読込</h3>
<div class="help_content">
<p>保存した設定ファイルを読み込むことで、設定を復元することができます。</p>
<p>「設定を読込」ボタンを押すと、保存した設定ファイルをアップロードするダイアログが表示されます。</p>
<p>ファイルを選択して「アップロード」ボタンを押すと、設定ファイルがアップロードされ、設定が復元されます。</p>
</div><!-- help_content -->
</div><!-- help_main -->
</div><!-- row -->
