<h2><i class="icon-home"></i>TOP</h2>
<div id="to_generator">
<%= link_to 'データ生成画面へ', {:controller => :generate_data, :action => :index}, {:id => 'button_to_gen', :class => 'btn btn-primary btn-large'} %>
</div>

<h3>当サイトについて</h3>
<div id="about">
<p>
「イカ様でーた」はダミーデータ生成ツールです。<br />
「姓」「名」「住所」「電話番号」といった「アイテム」を組み合わせて、擬似的なデータを生成できます。<br />
システム開発の現場などで利用するためのテストデータを手軽に生成することができます。
</p>
<p>
データはCSVやSQLの形式で出力することができます。
</p>
<p>
使い方については<%= link_to 'ヘルプ', '/help/index.html' %>を参考にしてください。
</p>
</div>

<h3>出力例</h3>
<div id="example">
<p>例えば以下のようなデータを出力することができます。</p>

<div class="example_content">
<table>
<caption>HTMLテーブル形式</caption>
<thead>
<tr>
<th>
ID
</th>
<th>
姓
</th>
<th>
姓（ふりがな）
</th>
<th>
名
</th>
<th>
名（ふりがな）
</th>
<th>
E-mail
</th>
<th>
性別
</th>
<th>
生年月日
</th>
<th>
年齢
</th>
</tr>
<tr>
<th>
id
</th>
<th>
sei
</th>
<th>
sei_furigana
</th>
<th>
na
</th>
<th>
na_furigana
</th>
<th>
email
</th>
<th>
sex
</th>
<th>
birthday
</th>
<th>
age
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
00001
</td>
<td>
寒河江
</td>
<td>
さがえ
</td>
<td>
愛佳
</td>
<td>
あいか
</td>
<td>
sagae.aika@example.com
</td>
<td>
女
</td>
<td>
2007-11-11
</td>
<td>
4
</td>
</tr>
<tr>
<td>
00002
</td>
<td>
千脇
</td>
<td>
ちわき
</td>
<td>
沙弥
</td>
<td>
さや
</td>
<td>
chiwaki.saya@example.com
</td>
<td>
女
</td>
<td>
1942-07-17
</td>
<td>
69
</td>
</tr>
<tr>
<td>
00003
</td>
<td>
黒山
</td>
<td>
くろやま
</td>
<td>
真翔
</td>
<td>
まなと
</td>
<td>
kuroyama.manato@example.com
</td>
<td>
男
</td>
<td>
1963-03-22
</td>
<td>
48
</td>
</tr>
<tr>
<td>
00004
</td>
<td>
嶋谷
</td>
<td>
しまや
</td>
<td>
寛太
</td>
<td>
かんた
</td>
<td>
simaya.kanta@example.com
</td>
<td>
男
</td>
<td>
1979-03-22
</td>
<td>
32
</td>
</tr>
<tr>
<td>
00005
</td>
<td>
栃本
</td>
<td>
とちもと
</td>
<td>
浩司
</td>
<td>
こうじ
</td>
<td>
tochimoto.kouji@example.com
</td>
<td>
男
</td>
<td>
1980-12-19
</td>
<td>
30
</td>
</tr>
<tr>
<td>
00006
</td>
<td>
小俣
</td>
<td>
こまた
</td>
<td>
綾子
</td>
<td>
あやこ
</td>
<td>
komata.ayako@example.com
</td>
<td>
女
</td>
<td>
2009-08-17
</td>
<td>
2
</td>
</tr>
<tr>
<td>
00007
</td>
<td>
有吉
</td>
<td>
ありよし
</td>
<td>
晴人
</td>
<td>
はると
</td>
<td>
ariyosi.haruto@example.com
</td>
<td>
男
</td>
<td>
1957-01-16
</td>
<td>
54
</td>
</tr>
<tr>
<td>
00008
</td>
<td>
紙谷
</td>
<td>
かみや
</td>
<td>
太朗
</td>
<td>
たろう
</td>
<td>
kamiya.tarou@example.com
</td>
<td>
男
</td>
<td>
1947-03-09
</td>
<td>
64
</td>
</tr>
<tr>
<td>
00009
</td>
<td>
石巻
</td>
<td>
いしまき
</td>
<td>
杏菜
</td>
<td>
あんな
</td>
<td>
isimaki.anna@example.com
</td>
<td>
女
</td>
<td>
1952-09-20
</td>
<td>
59
</td>
</tr>
<tr>
<td>
00010
</td>
<td>
米野
</td>
<td>
よねの
</td>
<td>
紗世
</td>
<td>
さよ
</td>
<td>
yoneno.sayo@example.com
</td>
<td>
女
</td>
<td>
2004-02-21
</td>
<td>
7
</td>
</tr>
</tbody>
</table>
</div>

<div class="example_content">
<p>CSV形式</p>
<iframe src="/example_csv.html" class="example_frame">お使いのブラウザはiframeに対応していません。</iframe>
</div>

<div class="example_content">
<p>SQL形式</p>
<iframe src="/example_sql.html" class="example_frame">お使いのブラウザはiframeに対応していません。</iframe>
</div>
</div>
