<div id='conf_form'>
<%= form_tag({:controller => :generate_data, :action => :generate}, :remote => true, :id => 'form_config', "data-type" => "html") do -%>

<div class="row"><!-- clearfix -->
<div id="left_box" class="span3">

<dl id="save_config_box" class="left_menu_container">
<dt>設定の保存・読込</dt>
<dd>
<!-- <input id="download_config_button" type="button" value="設定を保存" onClick="showConfigDownloadDialog()" %> -->
<!-- <input id="upload_config_button" type="button" value="設定を読込" onClick="showConfigUploadDialog()" %> -->
<%= button_tag "設定を保存", :id => "download_config_button", :class => "btn", :type => "button", :onclick => "showConfigDownloadDialog()" %>
<%= button_tag "設定を読込", :id => "upload_config_button", :class => "btn", :type => "button", :onclick => "showConfigUploadDialog()" %>
</dd>
</dl><!-- save_config_box -->

<dl id="select_box" class="left_menu_container">
<dt>アイテム</dt>
<dd class="clearfix">
<div class="pull-left">
<%= select_tag 'item_list',
    options_for_select(
      [['数値', :number], ['姓', :family_name], ['名', :given_name], ['氏名', :full_name], ['性別', :sex], ['年齢', :age], ['都道府県', :prefecture], ['郵便番号', :zip_code], ['住所', :address], ['電話番号', :telephone], ['日付時刻', :datetime], ['ユーザ定義リスト', :user_list], ['連結', :concat]]
    ),
    {:multiple => true, :size => 8}
%>
</div>
<div class="pull-right">
<%= button_tag :class => "btn", :type => "button", :onclick => "addItem()" do %>
  追加 <i class="icon-arrow-right"></i>
<% end -%>
</div>
</dd>
</dl><!-- select_box -->

<dl id="operation_box" class="left_menu_container">
<dt>出力オプション</dt>
<dd>

<div id="select_gen_list">
<dl class="dl-horizontal dt-width4em">
<dt>出力形式</dt>
<dd>
<%= select_tag 'genconf[data_format]',
    options_for_select(
      [['テーブル', :table], ['CSV', :csv], ['SQL', :sql]]
    ),
    {:id => 'select_data_format', :class => 'width6em', :multiple => false, :size => 1}
%>
</dd>
</div><!-- select_ge_list -->

<div id="options_for_type">
<div class="option_container">
<dl class="dl-horizontal dt-width2em">
<dt>行数</dt>
<dd>
<%= text_field_tag 'genconf[rownum]', 100, {:id => 'genconf_rownum', :class => 'rownum width4em', :size => 10} %>
</dd>
</dl>
</div>

<div id="options_box">

<dl id="table_option" class="option_container">
<dt>ヘッダー</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'genconf[table][header_st][field_name]',1, '${header_st1}', {:id => 'genconf_table_header_st_1'} %>項目名</label></li>
<li><label class="checkbox"><%= check_box_tag 'genconf[table][header_st][column_name]',1, '${header_st1}', {:id => 'genconf_table_header_st_2'} %>カラム名</label></li>
</ul>
</dd>
</dl>

<dl id="csv_option" class="option_container">
<dt>ヘッダー</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'genconf[csv][header_st][field_name]',1, '${header_st1}', {:id => 'genconf_csv_header_st_1'} %>項目名</label></li>
<li><label class="checkbox"><%= check_box_tag 'genconf[csv][header_st][column_name]',1, '${header_st1}', {:id => 'genconf_csv_header_st_2'} %>カラム名</label></li>
</ul>
</dd>
</dl>

<dl id="sql_option" class="option_container">
<dt>テーブル名</dt>
<dd>
<ul>
<li>
<%= text_field_tag 'genconf[sql][table_name]', 'table_name', {:id => 'genconf_sql_table_name', :class => 'sql_table_name input-medium'} %>
</li>
</ul>
</dd>
<dt>テーブル名／列名の形式</dt>
<dd>
<ul>
<li>
<label class="radio"><%= radio_button_tag 'genconf[sql][column_qt]',"1", true %>column_name</label>
</li>
<li>
<label class="radio"><%= radio_button_tag 'genconf[sql][column_qt]',"2", false %>"column_name"</label>
</li>
<li>
<label class="radio"><%= radio_button_tag 'genconf[sql][column_qt]',"3", false %>`column_name`</label>
</li>
</ul>
</dd>
</dl>

</div><!-- options_box -->
<div>
<%= button_tag 'テスト', :id => 'generate_test', :class => 'operation_button btn width8em' %>
<%= button_tag 'ダウンロード', :name => 'download_button', :class => 'operation_button btn width8em', :type => 'button', :onclick => 'dataDownload();'%>
</div>
<div>
<p class="comment">※テストは10件のみ出力。</p>
</div>
</div><!-- options_for_type -->
</dd>
</dl><!-- operation_box -->

</div><!-- left_box -->

<div id="main_box" class="span9">
<div id="main_left" class="span6">
<div class="validation_error">
<span></span>
</div><!-- validation_error -->
<div class="loading_image">
<%= image_tag '/assets/ajax-loader.gif', {:id => 'ajax-loading-image'} %> <span>生成中...</span>
</div><!-- loading_image -->
<div id='function_box'>
<%= button_tag "すべて閉じる", :class => "btn", :type => "button", :onclick => "closeAll()" %>
<%= button_tag "すべて開く", :class => "btn", :type => "button", :onclick => "openAll()" %>
</div><!-- function_box -->
<div id="item_configs">
</div><!-- item_configs -->
</div><!-- main_left -->
</div><!-- main_box -->
</div><!-- clearfix -->

<% end -%>
</div><!-- conf_form -->

<script id="configItemTemplate" type="text/x-jquery-tmpl">
  <div id="${item_id}" name="${item_name}" class="item ${selected_value}">
    <%= hidden_field_tag 'conf[${item_id}][item_id]', '${item_id}', {:id => '${item_id}_item_id', :class => 'item_id'} %>
    <%= hidden_field_tag 'conf[${item_id}][item_seq]', '${item_seq}', {:id => '${item_id}_item_seq', :class => 'item_seq'} %>
    <%= hidden_field_tag 'conf[${item_id}][item_type]', '${item_type}', {:id => '${item_id}_item_type', :class => 'item_type'} %>
    <%= hidden_field_tag 'conf[${item_id}][item_name]', '${item_name}', {:id => '${item_id}_item_name', :class => 'item_name'} %>
    <div class="item_header clearfix">
      <div class="item_window_toggle pull-left" onClick="itemWindowToggle(this)">
        <span class="item_header_id"></span>
      </div>
      <div class="item_header_function pull-right">
        <input id="${item_id}_up" class="up_button btn" type="button" onClick="moveUp(this)" value="Up" />
        <input id="${item_id}_down" class="down_button btn" type="button" onClick="moveDown(this)" value="Down" />
        <input id="${item_id}_remove" class="remove_button btn btn-danger" type="button" onClick="removeItem(this)" value="削除" />
      </div><!-- item_header_function -->
    </div><!-- item_header -->

<!-- <div class="item_body clearfix"> -->
<div class="item_body clearfix">

<div class="item_left_box pull-left">
<div class="item_options_common">
<dl class="item_config_common dt-width6em clearfix">
<dt>項目名</dt>
<dd><%= text_field_tag 'conf[${item_id}][field_name]', '${field_name}', {:id => '${item_id}_field_name', :class => 'field_name', :onblur => "setItemHeaderById(${item_id})"} %></dd>
<dt>カラム名</dt>
<dd><%= text_field_tag 'conf[${item_id}][column_name]', '${column_name}', {:id => '${item_id}_column_name', :class => 'column_name'} %></dd>
<dt>プレフィックス</dt>
<dd><%= text_field_tag 'conf[${item_id}][prefix]', '${prefix}', {:id => '${item_id}_prefix', :class => 'item_prefix'} %>
<dt>サフィックス</dt>
<dd><%= text_field_tag 'conf[${item_id}][suffix]', '${suffix}', {:id => '${item_id}_suffix', :class => 'item_suffix'} %>
<dt>空データ率</dt>
<dd><%= text_field_tag 'conf[${item_id}][blank_ratio]', '${blank_ratio}', {:id => '${item_id}_blank_ratio', :class => 'blank_ratio', :size => 3} %>%
</dl><!-- item_config_common -->
</div><!-- item_options_common -->
<div class="item_options"></div><!-- item_options -->
</div><!-- item_left_box -->

<dl class="item_right_box pull-right">
<dt>出力形式別オプション</dt>
<dd>
<dl class="option_container">
<dt>共通オプション</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][options][common][view]',1, true, {:id => '${item_id}_options_common_view'} %>結果に表示する</label></li>
</ul>
</dd>
</dl> 
<dl class="option_container">
<dt>CSVオプション</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][options][csv][qt]',1, true, {:id => '${item_id}_options_csv_qt'} %>値を"で囲む</label></li>
</ul>
</dd>
</dl> 
<dl class="option_container">
<dt>SQLオプション</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][options][sql][qt]',1, true, {:id => '${item_id}_options_sql_qt'} %>値を'で囲む</label></li>
</ul>
</dd>
</dl> 
</dd>
</dl><!-- item_right_box -->

</div><!-- item_body -->

  </div><!-- item -->
</script>
<script id="configHanKanTemplate" type="text/x-jquery-tmpl">
  <dl class="option_container">
    <dt>漢字／よみがな</dt>
    <dd>
      <ul>
        <li><label class="radio"><%= radio_button_tag 'conf[${item_id}][type]',"1", true %>漢字</label></li>
        <li>
          <label class="radio"><%= radio_button_tag 'conf[${item_id}][type]',"2" %>よみがな</label>
<ul class="option_container">
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][zenhan1]',1, true,  {:id => '${item_id}_zenhan1'} %>ひらがな</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][zenhan2]',1, false, {:id => '${item_id}_zenhan2'} %>全角カタカナ</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][zenhan3]',1, false, {:id => '${item_id}_zenhan3'} %>半角カタカナ</label></li>
<li>
<label class="checkbox"><%= check_box_tag 'conf[${item_id}][zenhan4]',1, false, {:id => '${item_id}_zenhan4'} %>ローマ字</label>
<ul class="option_container">
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][uplow1]',1, false, {:id => '${item_id}_uplow1'} %>すべて小文字</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][uplow2]',1, false, {:id => '${item_id}_uplow2'} %>先頭を大文字</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][uplow3]',1, false, {:id => '${item_id}_uplow3'} %>すべて大文字</label></li>
</ul>
</li>

</ul>
        </li>
      </ul>
    </dd>
  </dl>
</script>
<script id="configNameTemplate" type="text/x-jquery-tmpl">
  <dl class="option_container">
    <dt>文字間</dt>
    <dd>
		<div><label class="checkbox"><%= check_box_tag 'conf[${item_id}][add_space1]',1, true, {:id => '${item_id}_add_space1'} %>文字間を空けない</label></div>
		<div><label class="checkbox"><%= check_box_tag 'conf[${item_id}][add_space2]',1, false, {:id => '${item_id}_add_space2'} %>文字間にスペース（大文字）を加える</label></div>
    </dd>
  </dl>
</script>
<script id="configFullNameTemplate" type="text/x-jquery-tmpl">
<ul>
<li>
姓と名の区切り<%= text_field_tag 'conf[${item_id}][name_delimitter]', '${name_delimitter}', {:id => '${item_id}_name_delimitter', :class => 'name_delimitter width4em'} %>
</li>
</ul>
</script>
<script id="configNumberTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>
<label class="radio">
<%= radio_button_tag 'conf[${item_id}][number_mode]',"1", true, {:id => '${item_id}_number_mode_1' } %>シーケンシャル
</label>
</dt>
<dd>

<dl class="item_config_common dt-width4em">
<dt>初期値</dt>
<dd><%= text_field_tag 'conf[${item_id}][init_number]', '${init_number}', {:id => '${item_id}_init_number', :class => 'init_number width4em'} %>
<dt>最大値</dt>
<dd><%= text_field_tag 'conf[${item_id}][max_number]', '${max_number}', {:id => '${item_id}_max_number', :class => 'max_number width4em'} %>
<dt>ステップ</dt>
<dd><%= text_field_tag 'conf[${item_id}][step_number]', '${step_number}', {:id => '${item_id}_step_number', :class => 'step_number width4em'} %>
</dl>

</dd>
<dt>
<label class="radio">
<%= radio_button_tag 'conf[${item_id}][number_mode]',"2", false %>ランダム
</label>
</dt>
<dd>

<dl class="item_config_common dt-width4em">
<dt>最小値</dt>
<dd><%= text_field_tag 'conf[${item_id}][init_number_r]', '${init_number_r}', {:id => '${item_id}_init_number_r', :class => 'init_number_r width4em'} %>
<dt>最大値</dt>
<dd><%= text_field_tag 'conf[${item_id}][max_number_r]', '${max_number_r}', {:id => '${item_id}_max_number_r', :class => 'max_number_r width4em'} %>
</dl>

</dd>
</dl>

<dl class="item_config_common dt-width6em">
<dt>ゼロフィル</dt>
<dd><%= text_field_tag 'conf[${item_id}][zerofill_max]', '${zerofill_max}', {:id => '${item_id}_zerofill_max', :class => 'zerofill_max width4em', :size => "6"} %>桁
</dl>
</script>
<script id="configDependOnTemplate" type="text/x-jquery-tmpl">
<dl class="item_config_common dt-width6em clearfix">
<dt>従属する</dt>
<dd>
{{each depend_list}}
<%= hidden_field_tag 'conf[${item_id}][depend_type][${$index}]', '${$value}', {:id => '${item_id}_depend_type', :class => 'depend_type'} %>
{{/each}}
<%= select_tag 'conf[${item_id}][depend_on]',
    options_for_select([]),
    {:class => 'depend_on', :multiple => false, :size => 1}
%>
<div class="depend_type_list"></div>
</dd>
</dl>
</script>
<script id="configTelTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>データに含める電話番号の種類</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel01]',1, true, {:id => '${item_id}_tel01'} %>固定電話</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel05]',1, false, {:id => '${item_id}_tel05'} %>発信者課金ポケベル（020）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel06]',1, false, {:id => '${item_id}_tel06'} %>IP電話（050）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel07]',1, false, {:id => '${item_id}_tel07'} %>FMC電話（060）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel08]',1, false, {:id => '${item_id}_tel08'} %>PHS（070）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel09]',1, false, {:id => '${item_id}_tel09'} %>携帯電話（080／090）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel11]',1, false, {:id => '${item_id}_tel11'} %>着信者課金用（0120／0800）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel13]',1, false, {:id => '${item_id}_tel13'} %>統一番号用（0570）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel14]',1, false, {:id => '${item_id}_tel14'} %>情報料代理徴収用（0990）</label></li>
</ul>
</dd>
</dl>
<dl class="option_container">
<dt>区切りの有無</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel_delimitter2]',1, true, {:id => '${item_id}_tel_delimitter2'} %>区切り有り（012-345-6789）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][tel_delimitter1]',1, false, {:id => '${item_id}_tel_delimitter1'} %>区切り無し（0123456789）</label></li>
</ul>
</dd>
</dl>
</script>
<script id="configDateTimeTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt><label class="checkbox"><%= check_box_tag 'conf[${item_id}][use_date]',1, '${use_date}', {:id => '${item_id}_use_date'} %>日付</label></dt>
<dd>

<dl class="item_config_common dt-width2em">
<dt>最小</dt>
<dd>
<%= select_date Date.today, {:start_year => 1900, :end_year => 2100, :use_month_numbers => true, :prefix => 'conf[${item_id}][min_date]'}, {:class => 'width4em'} %>
</dd>
<dt>最大</dt>
<dd>
<%= select_date Date.today, {:start_year => 1900, :end_year => 2100, :use_month_numbers => true, :prefix => 'conf[${item_id}][max_date]'}, {:class => 'width4em'} %>
</dd>
</dl>

</dd>
</dl>
<dl class="option_container">
<dt><label class="checkbox"><%= check_box_tag 'conf[${item_id}][use_time]',1, '${use_time}', {:id => '${item_id}_use_time'} %>時刻</label></dt>
<dd>
<dl class="item_config_common dt-width2em">
<dt>時間</dt>
<dd>
<%= select_hour(1, 'conf[${item_id}][min_hour]').html_safe %>から
<%= select_hour(1, 'conf[${item_id}][max_hour]').html_safe %>
</dd>
<dt>分</dt>
<dd>
<%= select_minute(1, 'conf[${item_id}][min_minute]').html_safe %>から
<%= select_minute(1, 'conf[${item_id}][max_minute]').html_safe %>
</dd>
<dt>秒</dt>
<dd>
<%= select_second(1, 'conf[${item_id}][min_second]').html_safe %>から
<%= select_second(1, 'conf[${item_id}][max_second]').html_safe %>
</dd>
</dl>
</dd>
</dl>
日付と時刻のセパレータ<%= text_field_tag 'conf[${item_id}][datetime_delimitter]', '${datetime_delimitter}', {:id => '${item_id}_datetime_delimitter', :class => 'datetime_delimitter width4em', :size => 4} %>
</script>
<script id="configZipCodeTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>フォーマット</dt>
<dd>
<ul>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][zip_del1]',1, '${zip_del1}', {:id => '${item_id}_zip_del1'} %>区切り無し（0123456）</label></li>
<li><label class="checkbox"><%= check_box_tag 'conf[${item_id}][zip_del2]',1, '${zip_del2}', {:id => '${item_id}_zip_del2'} %>区切り有り（012-3456）</label></li>
</ul>
</dd>
</dl>
</script>
<script id="configAgeTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>年齢計算基準日</dt>
<dd>
<p class="comment">※日付時刻アイテムに従属する場合に有効</p>
<ul>
<li><%= select_date Date.today, {:start_year => 1900, :end_year => 2100, :use_month_numbers => true, :prefix => 'conf[${item_id}][age_base_date]'}, {:class => 'width4em'} %></li>
</ul>
</dd>
</dl>
<dl class="option_container">
<dt>範囲</dt>
<dd>
<p class="comment">※他のアイテムに従属しない場合に有効</p>
<ul>
<li>
<%= text_field_tag 'conf[${item_id}][age_min]', '${age_min}', {:id => '${item_id}_age_min', :class => 'age_min width4em', :size => "4"} %>歳
から <%= text_field_tag 'conf[${item_id}][age_max]', '${age_max}', {:id => '${item_id}_age_max', :class => 'age_max width4em', :size => "4"} %>歳
</li>
</ul>
</dd>
</dl>
</script>
<script id="configSexTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>男／女の場合に表示する文字列</dt>
<dd>
<dl class="item_config_common dt-width4em clearfix">
<dt>男</dt>
<dd>
<%= text_field_tag 'conf[${item_id}][sex_label1]', '${sex_label1}', {:id => '${item_id}_sex_label1', :class => 'sex_label1 width4em', :size => "4"} %>
</dd>
<dt>女</dt>
<dd>
<%= text_field_tag 'conf[${item_id}][sex_label2]', '${sex_label2}', {:id => '${item_id}_sex_label2', :class => 'sex_label2 width4em', :size => "4"} %>
</dd>
<dt>その他</dt>
<dd>
<%= text_field_tag 'conf[${item_id}][sex_label3]', '${sex_label3}', {:id => '${item_id}_sex_label3', :class => 'sex_label3 width4em', :size => "4"} %>
</dd>
</dl>
</dd>
</dl>
</script>
<script id="configUserListTemplate" type="text/x-jquery-tmpl">
<dl class="option_container">
<dt>リスト定義</dt>
</dt>
<dd>
<ul>
<li>
表示する項目  
<%= select_tag 'conf[${item_id}][user_list_view]',
    options_for_select([['値', :value], ['ラベル', :label]]),
    {:multiple => false, :size => 1}
%>
</li>
<li>
<p class="comment">値,ラベル のようにカンマで区切ってください。</p>
<%= text_area_tag 'conf[${item_id}][user_list]', '${user_list}', {:id => '${item_id}_user_list', :class => 'user_list_text', :size => '40x10'} %>
</li>
</ul>
</dd>
</dl>
</script>
<script id="configConcatTemplate" type="text/x-jquery-tmpl">
{{each item_type_list}}
<%= hidden_field_tag 'conf[${item_id}][concat_type][${$index}]', '${$value}', {:id => '${item_id}_concat_type', :class => 'concat_type'} %>
{{/each}}
<dl class="item_config_common dt-width6em clearfix">
<dt>アイテム1</dt>
<dd>
<%= select_tag 'conf[${item_id}][concat_item1]',
    options_for_select([]),
    {:class => 'concat_with', :multiple => false, :size => 1}
%>
<div class="concat_type_list"></div>
</dd>
<dt>アイテム2</dt>
<dd>
<%= select_tag 'conf[${item_id}][concat_item2]',
    options_for_select([]),
    {:class => 'concat_with', :multiple => false, :size => 1}
%>
<div class="concat_type_list"></div>
</dd>
<dt>区切り文字</dt>
<dd>
<%= text_field_tag 'conf[${item_id}][concat_delimitter]', '${concat_delimitter}', {:id => '${item_id}_concat_delimitter', :class => 'concat_delimitter width4em'} %>
</dd>
</dl>
</script>

<div id="save_config_dialog" title="設定を保存する">
<p>設定を以下のファイル名でダウンロードします。</p>
<%= text_field_tag 'filename', 'ikasama_config.yml', {:id => 'download_config_filename', :class => '', :size => 80} %>
<%= button_tag 'ダウンロード', :name => 'download_config_button', :class => 'btn', :type => 'button', :onclick => 'configDownload()'%>
</div>

<div id="load_config_dialog" title="設定を読込む">
<p>設定ファイルを読み込んで復元します。</p>
<%= form_tag({:controller => :generate_data, :action => :config_upload}, {:remote => true, :id => 'form_config_upload', :multipart => true, 'data-type' => 'json'}) do -%>
<%= file_field 'file', 'config', {:id => 'upload_config_filename', :size => 20} %>
<%= button_tag 'アップロード', :name => 'download_config_button', :class => 'btn', :onclick => "return confirmUploadConfig();" %>
<% end -%>
</div>

<div id="test_data_dialog" title="テスト結果">
<div id="test_data_area">
<div id="data_table"></div>
</div>
</div>
