<tr>
<% data_row.sort{|a,b| a[:seq] <=> b[:seq] }.each{|item| -%>
<% if item[:options]['common']['view'] -%>
<td>
<% unless item[:null] -%>
<%=h item[:value] %>
<% end -%>
</td>
<% end -%>
<% } -%>
</tr>
