<h1>Listing given_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pronunciation</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @given_names.each do |given_name| %>
  <tr>
    <td><%=h given_name.name %></td>
    <td><%=h given_name.pronunciation %></td>
    <td><%=h given_name.created_by %></td>
    <td><%=h given_name.updated_by %></td>
    <td><%= link_to 'Show', given_name %></td>
    <td><%= link_to 'Edit', edit_given_name_path(given_name) %></td>
    <td><%= link_to 'Destroy', given_name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New given_name', new_given_name_path %>