<p>
  <b>Name:</b>
  <%=h @given_name.name %>
</p>

<p>
  <b>Pronunciation:</b>
  <%=h @given_name.pronunciation %>
</p>

<p>
  <b>Created by:</b>
  <%=h @given_name.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @given_name.updated_by %>
</p>


<%= link_to 'Edit', edit_given_name_path(@given_name) %> |
<%= link_to 'Back', given_names_path %>