<h1>Listing prefectures</h1>

<table>
  <tr>
    <th>Pref code</th>
    <th>Pref code iso</th>
    <th>Name</th>
    <th>Pronounce</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @prefectures.each do |prefecture| %>
  <tr>
    <td><%=h prefecture.pref_code %></td>
    <td><%=h prefecture.pref_code_iso %></td>
    <td><%=h prefecture.name %></td>
    <td><%=h prefecture.pronounce %></td>
    <td><%=h prefecture.created_by %></td>
    <td><%=h prefecture.updated_by %></td>
    <td><%= link_to 'Show', prefecture %></td>
    <td><%= link_to 'Edit', edit_prefecture_path(prefecture) %></td>
    <td><%= link_to 'Destroy', prefecture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prefecture', new_prefecture_path %>