<h1>New prefecture</h1>

<% form_for(@prefecture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pref_code %><br />
    <%= f.text_field :pref_code %>
  </p>
  <p>
    <%= f.label :pref_code_iso %><br />
    <%= f.text_field :pref_code_iso %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pronounce %><br />
    <%= f.text_field :pronounce %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', prefectures_path %>