<p>
  <b>Pref code:</b>
  <%=h @prefecture.pref_code %>
</p>

<p>
  <b>Pref code iso:</b>
  <%=h @prefecture.pref_code_iso %>
</p>

<p>
  <b>Name:</b>
  <%=h @prefecture.name %>
</p>

<p>
  <b>Pronounce:</b>
  <%=h @prefecture.pronounce %>
</p>

<p>
  <b>Created by:</b>
  <%=h @prefecture.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @prefecture.updated_by %>
</p>


<%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<%= link_to 'Back', prefectures_path %>