<h1>Listing family_names</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pronunciation</th>
    <th>Sex</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @family_names.each do |family_name| %>
  <tr>
    <td><%=h family_name.name %></td>
    <td><%=h family_name.pronunciation %></td>
    <td><%=h family_name.sex %></td>
    <td><%=h family_name.created_by %></td>
    <td><%=h family_name.updated_by %></td>
    <td><%= link_to 'Show', family_name %></td>
    <td><%= link_to 'Edit', edit_family_name_path(family_name) %></td>
    <td><%= link_to 'Destroy', family_name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New family_name', new_family_name_path %>