<p>
  <b>Name:</b>
  <%=h @family_name.name %>
</p>

<p>
  <b>Pronunciation:</b>
  <%=h @family_name.pronunciation %>
</p>

<p>
  <b>Sex:</b>
  <%=h @family_name.sex %>
</p>

<p>
  <b>Created by:</b>
  <%=h @family_name.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @family_name.updated_by %>
</p>


<%= link_to 'Edit', edit_family_name_path(@family_name) %> |
<%= link_to 'Back', family_names_path %>