<h1>Listing cities</h1>

<table>
  <tr>
    <th>Pref code</th>
    <th>City code</th>
    <th>City code cd</th>
    <th>Name</th>
    <th>Pronunciation</th>
    <th>Telephone</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%=h city.pref_code %></td>
    <td><%=h city.city_code %></td>
    <td><%=h city.city_code_cd %></td>
    <td><%=h city.name %></td>
    <td><%=h city.pronunciation %></td>
    <td><%=h city.telephone %></td>
    <td><%=h city.created_by %></td>
    <td><%=h city.updated_by %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New city', new_city_path %>