<h1>New city</h1>

<% form_for(@city) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pref_code %><br />
    <%= f.text_field :pref_code %>
  </p>
  <p>
    <%= f.label :city_code %><br />
    <%= f.text_field :city_code %>
  </p>
  <p>
    <%= f.label :city_code_cd %><br />
    <%= f.text_field :city_code_cd %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pronunciation %><br />
    <%= f.text_field :pronunciation %>
  </p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cities_path %>