<p>
  <b>Pref code:</b>
  <%=h @city.pref_code %>
</p>

<p>
  <b>City code:</b>
  <%=h @city.city_code %>
</p>

<p>
  <b>City code cd:</b>
  <%=h @city.city_code_cd %>
</p>

<p>
  <b>Name:</b>
  <%=h @city.name %>
</p>

<p>
  <b>Pronunciation:</b>
  <%=h @city.pronunciation %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @city.telephone %>
</p>

<p>
  <b>Created by:</b>
  <%=h @city.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @city.updated_by %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>