@border-common: #AAA;
@border-light: #DDD;
@word-alert: #F44;
@heading-bg: #EEE;

/* ----- Init ----- */
body {
  padding-top: 20px;
}

dl,dt,dd {
  margin: 0px;
  padding: 0px;
}

ul,ol {
  list-style: none;
  margin: 0px;
}

.btn {
  padding-top: 2px;
  padding-bottom: 2px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
/*  width: 150px; */
}

select {
  width: 150px;
  vertical-align:middle;
}

/* ----- Commons ----- */
.set-dt-width(@em: 1){
  > dt {
    width: 14px * (@em + 1);
    text-align: left;
  }
  > dd {
    margin-left: 14px * (@em + 1) + 8px;
    padding-right: 14px;
  }
}
.dt-width6em {
  .set-dt-width(6);
}
.dt-width4em {
  .set-dt-width(4);
}
.dt-width2em {
  .set-dt-width(2);
}
.width4em {
  width: 5em;
}
.width6em {
  width: 7em;
}
.width8em {
  width: 9em;
}

.comment {
  font-size: 85%;
  color: @word-alert;
  margin: 0px;
}

h2 {
  background-color: @heading-bg;
  padding: 4px 10px 4px 10px;
  margin-bottom: 10px;
}

/* ----- Validation ----- */
div.validation_error {
  border: 2px #F00 solid;
  background-color: #FFF;
  padding: 8px;
  margin-bottom: 8px;
}
div.validation_error > span {
  color: #F00;
}
input.error {
  border: 2px #F00 solid;
}
label.error {
  display: block;
  font-size: 85%;
  color: #F00;
}

div.loading_image {
  padding-bottom: 8px;
  line-height: 2;
}
div.loading_image>span {
  vertical-align:middle;
}

/* ----- Top ----- */
#main h3 {
  padding: 0px 0px 1px 2px;
  border-left: 4px #444 solid;
  border-bottom: 1px #444 solid;
  margin-bottom: 0.5em;
}

#to_generator {
  margin: 32px 0px;
}

#button_to_gen {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}

div#about {
  margin-bottom: 20px;
}
div.example_content {
  margin-bottom: 10px;
}
div.example_content > table {
  border: 1px #AAA solid;
}
div.example_content > table th {
  border: 1px #AAA solid;
  padding: 4px;
}
div.example_content > table td {
  border: 1px #AAA solid;
  padding: 4px;
}
iframe.example_frame {
  width: 700px;
  height: 180px;
}

/* ----- Sidebar ----- */
#download_config_filename {
  width: 230px;
}
#upload_config_filename {
  height: 24px;
}

dl.left_menu_container {
  margin-bottom: 8px;
  padding: 0px;

  > dt {
    padding: 4px;
    border-top: 1px @border-common solid;
    border-bottom: 1px @border-light solid;
    border-right: 1px @border-common solid;
    border-left: 1px @border-common solid;
  }
  > dd {
    padding: 4px;
    border-right: 1px @border-common solid;
    border-left: 1px @border-common solid;
    border-bottom: 1px @border-common solid;
  }
}

select#item_list {
  width: 180px;
}

div#select_gen_list {
  padding: 0px 0px 4px 0px;
  margin-bottom: 8px;
  border-bottom: 1px @border-common dashed;
}

/* ----- Main ----- */
div#function_box {
  margin-bottom: 4px;
  > button {
    width: 120px;
  }
}

/* ----- Item -----  */
div.item {
  border: 1px @border-common solid;
  padding: 0px 8px 8px 8px;

  .item_header {
    background-color: #DDD;
    margin: 0px -8px;
    padding: 2px 250px 2px 2px;
    line-height: 1.4;

    .item_window_toggle {
      width: 100%;
      line-height: 2;
      margin-top: -2px;
      margin-bottom: -2px;
      padding-left: 8px;
      font-weight: bold;
    }

    .item_header_function {
      margin-right: -242px;
      input {
        width: 70px;
      }
    }
  }

  .item_body {
    padding: 8px 0px 0px 0px; 
  }

  .item_options_common {
    .field_name,
    .column_name,
    .item_suffix,
    .item_prefix { width: 140px }
    .blank_ratio { width: 5em }
  }

  dl.item_config_common {
    margin-bottom: 8px;
    > dt {
      float: left;
/*      width: 100px; */
      line-height: 24px;
    }
    > dd {
      line-height: 1.5;
/*      margin-left: 100px; */
    }
  }

  dl.item_right_box {
    > dt {
      padding: 4px 8px;
      border-left: 1px @border-common solid;
      border-right: 1px @border-common solid;
      border-top: 1px @border-common solid;
      border-bottom: 1px @border-light solid;
    }
    > dd {
      padding: 4px 8px;
      border-left: 1px @border-common solid;
      border-right: 1px @border-common solid;
      border-bottom: 1px @border-common solid;
    }
  }

  select.year {
    width: 5em; 
  }

  select.month {
    width: 3em; 
  }

  select.day {
    width: 3em; 
  }
}

dl.option_container {
  margin-bottom: 8px;
  > dt {
  }
  > dd {
    margin-left: 1em;
  }
}

div.option_container {
  margin-bottom: 8px;
}

ul.option_container {
  margin-bottom: 8px;
  margin-left: 1em;
}

/* ----- Data ----- */
div#test_data_area {
  overflow: scroll;
}

div#test_result {
  white-space: pre;
}

div#data_table table {
  border: 1px @border-common solid;
}
div#data_table table th {
  padding: 2px 4px;
  border: 1px @border-common solid;
}
div#data_table table td {
  padding: 2px 4px;
  border: 1px @border-common solid;
  white-space: nowrap;
}

/* ----- HELP ----- */
#help_left {
/*  float: left; */
/*  width: 150px; */
  border: 1px #AAA solid;
}

#help_main {
/*  margin-left: 170px; */
/*  width: 590px; */
}

#help_main h3 {
  padding: 0px 0px 1px 2px;
  border-left: 4px #444 solid;
  border-bottom: 1px #444 solid;
  margin-bottom: 0.5em;
}

#help_main h4 {
  margin-bottom: 0.5em;
  border-bottom: 1px #444 solid;
}

div.help_content {
 margin-left: 1em;
 margin-bottom: 1em;
}
div.help_content p {
 margin-bottom: 0.5em;
}

table.help_example {
  border: 1px #AAA solid;
  margin-left: 1em;
  margin-bottom: 1em;
}
table.help_example th {
  border: 1px #AAA solid;
  padding: 4px;
}
table.help_example td {
  border: 1px #AAA solid;
  padding: 4px;
}

table.help_desc {
  width: 480px;
  border: 1px #AAA solid;
  margin-left: 1em;
  margin-bottom: 1em;
}
table.help_desc th {
  border: 1px #AAA solid;
  padding: 4px;
  width: 100px;
}
table.help_desc td {
  border: 1px #AAA solid;
  padding: 4px;
}
table.help_desc caption {
  text-align: left;
  font-weight: bold;
}

div#help_menu {
  padding: 8px 0px;
}
ul.help_link {
}
ul.help_link>li {
  padding-left: 1em;
}
