<h1>Editing town</h1>

<% form_for(@town) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :search_id %><br />
    <%= f.text_field :search_id %>
  </p>
  <p>
    <%= f.label :pref_code %><br />
    <%= f.text_field :pref_code %>
  </p>
  <p>
    <%= f.label :city_code %><br />
    <%= f.text_field :city_code %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pronunciation %><br />
    <%= f.text_field :pronunciation %>
  </p>
  <p>
    <%= f.label :st1 %><br />
    <%= f.text_field :st1 %>
  </p>
  <p>
    <%= f.label :st2 %><br />
    <%= f.text_field :st2 %>
  </p>
  <p>
    <%= f.label :st3 %><br />
    <%= f.text_field :st3 %>
  </p>
  <p>
    <%= f.label :st4 %><br />
    <%= f.text_field :st4 %>
  </p>
  <p>
    <%= f.label :st5 %><br />
    <%= f.text_field :st5 %>
  </p>
  <p>
    <%= f.label :st6 %><br />
    <%= f.text_field :st6 %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @town %> |
<%= link_to 'Back', towns_path %>