<h1>Listing towns</h1>

<table>
  <tr>
    <th>Search</th>
    <th>Pref code</th>
    <th>City code</th>
    <th>Zip code</th>
    <th>Name</th>
    <th>Pronunciation</th>
    <th>St1</th>
    <th>St2</th>
    <th>St3</th>
    <th>St4</th>
    <th>St5</th>
    <th>St6</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @towns.each do |town| %>
  <tr>
    <td><%=h town.search_id %></td>
    <td><%=h town.pref_code %></td>
    <td><%=h town.city_code %></td>
    <td><%=h town.zip_code %></td>
    <td><%=h town.name %></td>
    <td><%=h town.pronunciation %></td>
    <td><%=h town.st1 %></td>
    <td><%=h town.st2 %></td>
    <td><%=h town.st3 %></td>
    <td><%=h town.st4 %></td>
    <td><%=h town.st5 %></td>
    <td><%=h town.st6 %></td>
    <td><%=h town.created_by %></td>
    <td><%=h town.updated_by %></td>
    <td><%= link_to 'Show', town %></td>
    <td><%= link_to 'Edit', edit_town_path(town) %></td>
    <td><%= link_to 'Destroy', town, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New town', new_town_path %>