<p>
  <b>Search:</b>
  <%=h @town.search_id %>
</p>

<p>
  <b>Pref code:</b>
  <%=h @town.pref_code %>
</p>

<p>
  <b>City code:</b>
  <%=h @town.city_code %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @town.zip_code %>
</p>

<p>
  <b>Name:</b>
  <%=h @town.name %>
</p>

<p>
  <b>Pronunciation:</b>
  <%=h @town.pronunciation %>
</p>

<p>
  <b>St1:</b>
  <%=h @town.st1 %>
</p>

<p>
  <b>St2:</b>
  <%=h @town.st2 %>
</p>

<p>
  <b>St3:</b>
  <%=h @town.st3 %>
</p>

<p>
  <b>St4:</b>
  <%=h @town.st4 %>
</p>

<p>
  <b>St5:</b>
  <%=h @town.st5 %>
</p>

<p>
  <b>St6:</b>
  <%=h @town.st6 %>
</p>

<p>
  <b>Created by:</b>
  <%=h @town.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @town.updated_by %>
</p>


<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>