<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= 'イカ様でーた' %></title>
        <%= csrf_meta_tags %>

        <%= favicon_link_tag 'ikasama-icon.ico' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%# stylesheet_link_tag 'jquery.ui.all.css', :media => "all" %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%#= stylesheet_link_tag 'bootstrap_and_overrides', :media => "all" %>
    <%#= stylesheet_link_tag 'datagen', :media => "all" %>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "add_conf_form.js" %>
    <%#= javascript_include_tag "jquery.validate.js" %>
    <%#= javascript_include_tag "jquery.validate.my_rules.js" %>
    <%#= javascript_include_tag "messages_ja.js" %>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <%= yield :javascript_includes_separately_from_views %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5585435-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body class="container">
    <div id="main">
    <div id="site_header" class="row">
      <div id="site_image" class="span1">
        <%= link_to image_tag("/assets/ikasama-icon-100.png"), '/' %>
      </div>
      <div id="site_title" class="span4">
      <div id="site_logo"><%= link_to 'イカ様でーた', {:controller => 'top', :action => 'index'}, {:class => 'brand'} %></div>
      <ul>
        <li>管理人：<%= link_to '@kojiro_jn', 'http://twitter.com/#!/kojiro_jn', {:target => '_new'} %></li>
      </ul>
      <ul>
        <li>
          <%= link_to 'データ生成画面', {:controller => :generate_data, :action => :index}, {:class => 'btn btn-primary'} %>
          <%= link_to 'ヘルプ', '/help/index.html', {:class=> 'btn btn-info'} %>
        </li>
      </ul>
      </div><!-- site_title -->
      <div id="top_banner" class="span5">
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fryuseisha-22%2F8009%2F8d6bb2a9-623d-4bd0-8593-3f6315eba166&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fryuseisha-22%2F8009%2F8d6bb2a9-623d-4bd0-8593-3f6315eba166&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
      </div><!-- top_banner -->
<div class="span3">
</div>
    </div><!-- site_header -->

    <%= yield %>

    </div><!-- main -->

    </body>

</html>
