<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
<%# 'テスト結果を別ウィンドウで表示させる場合用のレイアウト。'  %>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= 'イカ様でーた（テストデータ）' %></title>
        <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'datagen', :media => "all" %>
    <%= stylesheet_link_tag 'jquery.ui.all.css', :media => "all" %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "test_window.js" %>

    </head>
    <body>
    <%= yield %>
    </body>

</html>
